* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial;
  line-height: 1.5;
  background-color: pink;
}

a {
  color: pink;
  text-decoration: none;
}

.container {
  padding: 0 1rem;
  margin-top: 20px;
}

.btn {
  /*display: inline-block;*/
  border: none;
  border-radius: 10px;
  background: #555;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
}

.btn:hover {
  background: #666;
}